h1 a {
    color: #04B4AE;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

p {
    /*border: 2px solid black;*/
    padding: 10px;
}

.navbar {
    position: fixed;
    width: 100%;
}

.container {
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #0B4C5F;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 50%;
    margin-right: 50%;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 80%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #380B61;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #380B61;
}

.comment {
    margin: 20px  0px 20px 20px;
}

.footer {
    margin-top: 100px;
    margin-bottom: 0px;
}

#p01 {
    color: blue;
}

a:link {
    color: navy;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: navy;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #04B4AE;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: 00FFFF;
    background-color: transparent;
    text-decoration: underline;
}

table, th, td {
    border: 5px solid navy;
    border-collapse: collapse;
    margin: 15px;
    border-radius: 25px;

}
th, td {
    padding: 15px;
}

