{% extends 'note/base.html' %}

{% block content %}


<div class="box-full">
    <h1>Python 파이썬</h1>

</div>

<div class="box-post">
    <h2>Posts</h2>
    <p>
    {% for python_post in python_posts %}
        <div class="post">
           <!--  <div class="date">
                {{ python_post.published_date }}
            </div> -->
            <h2><a href="{% url "note.views.python_detail" pk=python_post.pk %}">{{ python_post.title }}</a></h2>
            <p>{{ python_post.text|linebreaks }}</p>
           <!--  <a href="{% url 'note.views.python_detail' pk=python_post.pk %}">Comments: {{ python_post.approved_comments.count }}</a> -->
        </div>
    {% endfor %}
  </p>
</div>

<div class="box-empty-half">
  <h2>Links</h2>
  <ul style="list-style-type:square">
  <br>
      <li><a href="https://www.python.org/">(Official) Python</a></li>
      <li><a href="http://ipython.org/">IPython</li>
      <li><a href="http://www.pythontutor.com/visualize.html#mode=edit">Python Tutor</a></li>
  </ul>
</div>

<div class="box-empty-half">
  <h2>Online courses</h2>
  <ul style="list-style-type:square">
  <br>
      <li><a href="https://www.udacity.com/">Udacity</a></li>
      <li><a href="https://www.edx.org/">edx</li>
      <li><a href="https://www.coursera.org/">Coursera</a></li>
  </ul>
</div>

{% endblock content %}
 </body>