{% extends 'note/base.html' %}

{% block content %}
    <hr>
    <div class="detail">
        {% if python_post.published_date %}
            {{ python_post.publisehd_date }}
        {% endif %}

         <h1>{{ python_post.title }}</h1>
         <p>{{ python_post.published_date }}</p>
         <p>{{ python_post.content|linebreaks }}</p>
         <p>{{ python_post.link }}</p>
         <p></p>
         <hr>
     </div>

    <a class="btn btn-default" href="{% url 'python_add_comment_to_post' pk=python_post.pk %}">Add comment</a>

    {% for comment in python_post.comments.all %}

        {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% endif %}

        {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
{% endblock %}