{% extends 'note/base.html' %}

{% block content %}
    <div>
        {% if python_post.published_date %}
            {{ python_post.publisehd_date }}
        {% endif %}

         <h1>{{ python_post.title }}</h1>
         <p>{{ python_post.published_date }}</p>
         <p>{{ python_post.content|linebreaks }}</p>
         <p>{{ python_post.link }}</p>
     </div>
     <hr>
     <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
     {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
     {% empty %}
        <p>No comments here yet :(</p>
     {% endfor%}
{% endblock %}