{% extends 'note/base.html' %}


<body>
    {% block content %}
            <style>
            div.cities {
                background-color:#0B2161;
                color:white;
                margin:20px;
                padding:20px;
                width:50%;
            }
            </style>
            </head>

            <body>
            <table>
            <tr>
                <td>
                    <div class="cities">
                    <h2>About</h2>

                    <p>이 홈페이지는 장고걸즈서울 겨울코드캠프(2016 1월-2월) 프로젝트의 일환으로 django로 만들어진 사이트입니다.</p>
                    <p>장고걸즈서울 멤버들간에 공유했던 여러 유용한 정보들을 정리하려는 목적으로 이 사이트를 만들게 되었습니다.</p>
                    </div>
                </td>
            </tr>
            </table>

    {% endblock content %}

</body>





