{% extends 'note/base.html' %}

{% block content %}

<table>
      <tr>
        <td>VCs- don’t compare me to your wife, just don’t
        Investors, you should know that the only thing that I have in common with your wife is a vagina. You need to know that because the women who are sitting in front of you to pitch are Entrepreneurs - and we are a totally different breed of human being than just about anyone else.

        </td>
        <td>Investors, you should know that the only thing that I have in common with your wife is a vagina. You need to know that because the women who are sitting in front of you to pitch are Entrepreneurs - and we are a totally different breed of human being than just about anyone else.
        Your wife may or may not be an entrepreneur. But the extent to which she is founding a company is the extent to which I have something in common with her.
        When you ask me about having it all, or how am I going to manage my kids, I seriously think that you are insane. Because in my head, I can’t imagine a scenario where you trust someone with millions of dollars to run a business but think that they don’t know how to deal with childcare.
        Your wife may or may not be an entrepreneur. But the extent to which she is founding a company is the extent to which I have something in common with her.
        When you ask me about having it all, or how am I going to manage my kids, I seriously think that you are insane. Because in my head, I can’t imagine a scenario where you trust someone with millions of dollars to run a business but think that they don’t know how to deal with childcare.VCs- don’t compare me to your wife, just don’t
        </td>
      </tr>
    </table>

    <p class="one">
      [This is a paragraph. p class="one" ]<br />
      Investors, you should know that the only thing that I have in common with your wife is a vagina. You need to know that because the women who are sitting in front of you to pitch are Entrepreneurs - and we are a totally different breed of human being than just about anyone else.
      Your wife may or may not be an entrepreneur. But the extent to which she is founding a company is the extent to which I have something in common with her.
      When you ask me about having it all, or how am I going to manage my kids, I seriously think that you are insane. Because in my head, I can’t imagine a scenario where you trust someone with millions of dollars to run a business but think that they don’t know how to deal with childcare.
      Your wife may or may not be an entrepreneur. But the extent to which she is founding a company is the extent to which I have something in common with her.
      When you ask me about having it all, or how am I going to manage my kids, I seriously think that you are insane. Because in my head, I can’t imagine a scenario where you trust someone with millions of dollars to run a business but think that they don’t know how to deal with childcare.VCs- don’t compare me to your wife, just don’t
    </p>

    <div style="background-color:#0B2161; color:white; padding:20px; margin: 15px;">
    <h2>Code = Create</h2>
      <p style="font-size:20px;">Investors, you should know that the only thing that I have in common with your wife is a vagina. You need to know that because the women who are sitting in front of you to pitch are Entrepreneurs - and we are a totally different breed of human being than just about anyone else.
      our wife may or may not be an entrepreneur. But the extent to which she is founding a company is the extent to which I have something in common with her.
      When you ask me about having it all, or how am I going to manage my kids, I seriously think that you are insane. Because in my head, I can’t imagine a scenario where you trust someone with millions of dollars to run a business but think that they don’t know how to deal with childcare.
      our wife may or may not be an entrepreneur. But the extent to which she is founding a company is the extent to which I have something in common with her.
      When you ask me about having it all, or how am I going to manage my kids, I seriously think that you are insane. Because in my head, I can’t imagine a scenario where you trust someone with millions of dollars to run a business but think that they don’t know how to deal with childcare.VCs- don’t compare me to your wife, just don’t
      </p>

    </div>

{% endblock %}


