{% extends 'note/base.html' %}

{% block content %}
    <div>
        {% if django_post.published_date %}
            {{ django_post.publisehd_date }}
        {% endif %}
         <h1>{{ django_post.title }}</h1>
         <p>{{ django_post.published_date }}</p>
         <p>{{ django_post.content|linebreaks }}</p>
         <p>{{ django_post.link }}</p>
     </div>

    <hr>
        <a class="btn btn-default" href="{% url 'django_add_comment_to_post' pk=django_post.pk %}">Add comment</a>
        {% for comment in django_post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
                {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}
    {% empty %}
        <p>No comments here yet :(</p>
        {% endfor %}

{% endblock %}